<ul class="nav nav-pills justify-content-evenly m-3">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="top250movies" >Top 250 Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="top250tvshows">Top 250 Tv Shows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="top150asian">Top 150 Asian Hits</a>
    </li>
    
  </ul>
  
  <div>
    <router-outlet></router-outlet>
  </div>
