<div class="card mt-3">
    <img class="d-block mx-auto" src="{{movieobj.image}}" width="100%">
        <div class="card-footer">
            <p>{{movieobj.title}}</p>
            <p>rank :{{movieobj.rank}}</p>
            <p>imdb-rating:{{movieobj.imDbRating}}</p>
            <button class="btn btn-secondary d-inline float-end " data-bs-target="#card1" data-bs-toggle="modal" >explore more</button>
            <!--moddal for 1st -->
            <div class="modal" id="card1" data-bs-backdrop="static">
                 <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-body">
                                <button class="btn btn-danger float-end" data-bs-dismiss="modal">X</button>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <img src="" width="100%">
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="ms-5 mt-5">
                                        
                                        </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-warning float-end ">yy</button>
                            </div>
                            
                        </div>      
                    </div>
                </div>
        </div>